#hero {
  padding: 0 32px 32px;
  text-align: center;
  color: white;
  background: #0078d4;
}

#hero img {
  width: 60px;
  margin-bottom: 12px;
  margin-top: 12px;
  animation: logo-spin infinite 10s linear;
}

#hero h1 {
  font-size: 28px;
  font-weight: 600;
}

#hero p {
  margin-top: 4px;
  font-weight: lighter;
}

#hero .countdown {
  padding: 16px 0; 
  margin: 0;
  text-align: right;
  font-size: 11px;
  background-color: #0078d4;
  font-weight: lighter
}

#hero a {
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
